@import '~normalize.css';
@import "reboot";
@import "colors";
@import "layout";
@import "classes";
@import "styles/href";

a {
  text-decoration: none;
  cursor: pointer;
  color: $black;
  font-size: $font-size;
}