html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: url(/assets/img/girl.jpg);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    font-size: 30px;
    line-height: 42px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    color: #525255;
  }

  form {
    width: 360px;
    height: 280px;

    div {
      margin-bottom: 20px;

      input {
        color: #888888;
        width: 100%;
        height: 42px;
        outline-width: 0;
        border: 1px solid #e5e5e5;
        transition: all .2s linear;
        transition-property: border,background,color,box-shadow,padding;
        padding: 4px 6px;
        font-size: 16px;
        font-family: inherit;
        letter-spacing: 1px;

        &:focus {
          border-color: #489be0;
          outline-width: 0;
          background: #fff;
          color: #888888;
        }
      }

      input:-webkit-autofill {
        box-shadow: 0 0 0 100px #e9fbfe inset !important;
        background-color: #e9fbfe !important;
        border-color: #e4f4f9 !important;
      }

      input::placeholder {
        color: #888888;
        letter-spacing: 1px;
        font-family: inherit;
      }

      span {
        margin: 4px 6px;

        strong {
          display: inline-block;
          margin: 20px 0 10px 0;
          color: #bf5329;
        }
      }
    }

    button {
      width: 100%;
      height: 55px;
      line-height: 55px;
      font-size: 18px;
      text-align: center;
      transition: all .2s ease-in-out;
      background-color: #489be0;
      color: #fff;
      border-color: transparent;
      border-width: 0;
      font-family: inherit;
      cursor: pointer;
      
      &:hover {
        background-color: #3a94e0;
      }

      &:focus {
        outline-width: 0;
      }
    }
  }
}