//$red: #ff7473;
//$yellow: #ffc952;
//$blue: #47b8e0;
//$black: #34314c;
//
//$dark: #274c5e;
//$gray: #7f9eb2;
//$midnight: #77919d;
//$light: #dae9f4;

$white: #ffffff;
$black: #00171F;
$blue-light: #00A8E8;
$blue-dark: #007EA7;