//$red: #ff7473;
//$yellow: #ffc952;
//$blue: #47b8e0;
//$black: #34314c;
//
//$dark: #274c5e;
//$gray: #7f9eb2;
//$midnight: #77919d;
//$light: #dae9f4;

$white: #ffffff;
$black: #00171F;
$blue-light: #00A8E8;
$blue-dark: #007EA7;


$blue-malibu: RGB(94, 179, 239);

$red-rosso-corsa: RGB(218, 4, 2);
$red-carmine-pink: RGB(234, 72, 62);

$yellow-flavescent: RGB(248, 232, 142);

$green-pastel: RGB(104, 214, 117);

$orange-deep-carrot: RGB(238, 105, 38);

$pink-carissma: RGB(233, 140, 164);