
$color-black-deep: #1F2D3D;
$color-black-normal: #324057;
$color-black-light: #475669;

$header-height: 60px;

$sidebar-color: #324157;
$sidebar-width: 180px;
$sidebar-collapse: 64px;
$sidebar-transition: padding-left .3s ease-in-out;

$main-view-padding: 20px;