@import '~normalize.css';
@import "reboot";
@import "layout";
@import "classes";
@import "font";
@import "dom/a";

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-link;
  font-size: $font-size;
}