%clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
}

@mixin input-placeholder($color: #fff) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $color;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color:    $color;
  }
}

@mixin icon($size: contain) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

@mixin hr($font: 14px, $row: 0, $bottom: 0, $top: 0) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: $font;
  margin: $top $row ($font - 1 + $bottom) $row;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #dae9f4;
  }

  &:after {
    content: attr(data-text);
    display: inline-block;
    background-color: #fff;
    color: #7f9eb2;
    font-size: $font;
    line-height: $font * 2 - 1;
    position: absolute;
    padding: 0 10px;
  }
}

@mixin filter-blur($size: 5) {
  filter: blur($size + px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=$size, MakeShadow=false);
}