/* color */
$color-riuir: #00a1d6;
$color-white: #fff;
$color-black: #333;
$color-link: #222;

$color-pink-light: #ffafc9;
$color-pink-normal: #f25d8e;
$color-pink-deep: #D5527D;

$color-blue-light: #00b5e5;
$color-blue-normal: #00a1d6;
$color-blue-deep: #0381aa;

$color-text-light: #99a2aa;
$color-text-normal: #6d757a;
$color-text-deep: black;

$color-gray-light: #f6f9fa;
$color-gray-normal: #e5e9ef;
$color-gray-deep: #ccd0d7;

/* size */
$font-size: 14px;

/* index */

/* other */
$fade-time: .2s;